.App {
  text-align: center;
}


/* Main Body */
body {
   background-image: url("https://images.unsplash.com/photo-1545073255-7d382c4e78ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
   /* background-color: black; */
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
 } 

.header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -10px;
  position: relative;
  top: -10px;

  background-color: black;
  height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

div.wraper {
  width: 100%;
  margin: 0 auto;
  margin-top: -25px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .7);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  margin-bottom: -50px;
  overflow: hidden;
}

.main-wrapper {
  margin: 25px auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  width: 250px;
  height: 300px;
  margin-top: 90px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .8);
}



/* NavBar */
#root > div.header > div {
  position: relative;
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 0px;
  color: white;
}

.navbar ul {
  list-style-type: none;
  position: relative;
  width: 100%;
}

.navbar li {
  display: inline;
  padding: 5px;
  font-family: 'Raleway', sans-serif;

  
/* font-weight: bold; */
color: white;
list-style-type: none;
position: relative;
font-size: 20px;
display: inline;
padding: 5px;
font-family: 'Raleway', sans-serif;
}

.link {
  padding-left: 10px;
  font-weight: bold;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-top: 40px;
  font-size: 17;
  margin-left: 0px;
}

.link a:hover {
  color: red;
  text-decoration: none;
}

/* Signup and Login Forms */
.form {
  max-width:500px;
  margin:25px auto;
  background:#fff;
  border-radius:10px;
  padding:20px;
  font-family: 'Raleway', sans-serif;
}

.form ul {
   list-style:none;
    padding:0;
    margin:0;

    display: block;
    padding: 9px;
    border:3px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 5px;
}

.form-group {
    display: block;
    padding: 9px;
    border:3px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}

.check-me{
  text-align: center;
  max-width:500px;
  margin-top: 40px;
  padding: 8px;
  background:#fff;
  border-radius:2px;
  font-family: 'Raleway', sans-serif;
  display: block;
  border:3px solid #DDDDDD;
  border-radius: 3px;
}

.interests {
  display: block;
  padding: 9px;
  border:1px solid #DDDDDD;
  border-radius: 3px;
}

.interests span {
  padding: 3px;
}

div.col {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 8px;
    background:#fff;
    border-radius:2px;
    font-family: 'Raleway', sans-serif;
    display: block;
    border:3px solid #DDDDDD;
    border-radius: 3px;
}

form > button{
  margin-left: 190px;
}
.bottom_link {
  margin-top: 10px;
  text-align: center;
}


/* Show page */
.my-profile{
  width: 900px;
  margin: 80px auto 120px;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 400px;
  width: 400px;
  position: relative;
  margin: auto;
  top: -60px;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}

#root > div.wraper > div > div > p {
  text-align: left;
  max-width: 605px;
  font-size: 20px;
  margin: auto;
  line-height: 1.2em;
  border: 2px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #d5d2df;
}

 /* index page */
 .container {
  display: flex;
  flex-wrap: wrap;
} 

 .profile_short {
  display: inline-grid;
  width: 280px;
  margin: 10px;
  background-color: white;
  padding: 5px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.profile_short a:link {
  text-decoration: none;
}

#avatar_img {
  height: 240px;
  width: 100%;
  border-radius: 75px;
}

.image_align {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  vertical-align: bottom;
} 


/* Outbox And Inbox */

#link a:link{
  color: blue;
  text-decoration: none;
} 


#link a:visited {
    color: black;
    text-decoration: none;
}

#link a:hover {
  color: red;
  text-decoration: none;
}

#link a:active {
  color: black;
  text-decoration: none;
}


#link > button {
  margin-right: 910px; 
}

table {
  background-color: paleturquoise;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#last_link.btn {
  background-color: orange; 
  border: none; 
  color: white; 
  padding: 8px 10px; 
  font-size: 16px; 
  cursor: pointer; 
}

.btn:hover {
  background-color: red;
}

/* footer */
footer {
  position: relative;;
  margin-top: 40px;
  left:0;
  bottom:0;
  right:0;
}

/* Upload file */
input[type="file"] {
    display: none;
}
.custom-file-upload {
  background: #ddd;
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color:blue;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 155px;
  line-height: normal;
  padding: 8px 10px; 
}

.custom-file-upload:hover {
  background-color: red;
}